<template name="Profile_Card">

  <div class="magicCard">
    <div class="inner">

      <div class="title">
        {{player.username}}
        <div class="cost">
          10

        </div>

      </div>

      <div class="cardImaged=Div">
        <img class="cardImage" src="{{ player.picture }}">
      </div>

      <div class="type">
        {{ player.firstName }} {{ player.lastName }}
      </div>

      <div class="desc">
        <div class="description">
          {{ player.bio }}
        </div>

        <div class="ui equal width center aligned grid">

          {{#if player.battlenet }}
          <div class="column">
            <div class="ui list">
              <div><i class="huge battle_net icon" style="background-repeat: no-repeat"></i></div>
              <div>{{ player.battlenet }}</div>
            </div>
          </div>
          {{/if}}

          {{#if player.steam }}
          <div class="column">
            <div class="ui list">
              <div><i class="huge steamIcon icon" style="background-repeat: no-repeat"></i></div>
              <div>{{ player.steam }}</div>
            </div>
          </div>
          {{/if}}


          {{#if player.xbox }}
          <div class="column">
            <div class="ui list">
              <div><i class="huge xbox icon" style="background-repeat: no-repeat"></i></div>
              <div>{{ player.xbox }}</div>
            </div>
          </div>
          {{/if}}


        </div>
        <div id="foot">
          reRoll
        </div>
      </div>
    </div>
  </div>

</template>