<template name="Profile_Card">

  <div class="magicCard">
    <div class="inner">

      <div class="title">
        {{player.username}}
        <div class="cost">


          {{#if player.battlenet }}
          <div>
            <div><i class="large battle_net icon" style="background-repeat: no-repeat"></i></div>
          </div>
          {{/if}}

          {{#if player.steam }}
          <div>
            <div><i class="large steamIcon icon" style="background-repeat: no-repeat"></i></div>
          </div>
          {{/if}}


          {{#if player.xbox }}
          <div>
            <div><i class="large xbox icon" style="background-repeat: no-repeat"></i></div>
          </div>
          {{/if}}


        </div>

      </div>

      <div class="cardImaged=Div">
        <img class="cardImage" src="{{ player.picture }}">
      </div>

      <div class="type">
        {{ player.firstName }} {{ player.lastName }}
      </div>

      <div class="desc">
        <div class="description">
          {{ player.bio }}
        </div>

        <div class="ui equal width center aligned grid">


        </div>
        <div id="foot">
          reRoll
        </div>
      </div>
    </div>
  </div>

</template>