<template name="User_Header">
  <div class="ui top fixed borderless inverted teal menu">
    <div class="ui container">
      <div class="item"><h1>LookingForGame</h1></div>
      <a class="{{isActiveRoute "Profile_Page"}} item" href="{{pathFor "Profile_Page" username=routeUserName}}"> Create Profile</a>
      <a class="{{isActiveRoute "Search_Page"}} item" href="{{pathFor "Search_Page" username=routeUserName}}"> Search</a>
      <a class="{{isActiveRoute "Filter_Page"}} item" href="{{pathFor "Filter_Page" username=routeUserName}}"> Filter</a>
      <div class="right aligned item">Edit Profile</div>
      <a class="aligned item">{{> Cas_Login }}</a>
    </div>
  </div>
</template>