<template name="User_Footer">
  <footer>
    <div class="ui divider"></div>
    <div class="landing-section-5">
      <div class="ui grid">
        <div class="ui center aligned sixteen wide column">
          <div class="ui four wide column">
          </div>
          <div class="ui center aligned eight wide column">
            <p class="landing-section-2-tagline"><a href="https://looking-for-game.github.io">reroll.</a></p>
          </div>
          <div class="ui four wide column">
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>
